label.custom-select {
position: relative;
display: inline-block;

  }

.custom-select select {
	font-size:12px;
	color:#b9b9b9;
	font: Arial;
	display: inline-block;
	padding-left:7px;
	padding-right:0px;
	/*padding: 0px 0px 0px 7px;*//*top,right,botton,left*/
	width:531px;
	height:20px;
	margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:10px;*/
	border:0;
	background:url(../Images/DropDownList/imgTextoCampoLargo.png);
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;
 }

.custom-select option
{
	background-color:#454545;
}


/* Select arrow styling */
.custom-select img
{
	height:18px;
	width:17px;
	right:0px;
	/*top:0px;*/
    /*top:1px;*/
    bottom:0px;/*Uso mejor el bottom que el top porque los #navcontainer is relative to the bottom of the screen*/
    position:absolute;
}
/*.custom-select:after {
content: ""; */ /* Current arrow I would like to change */
/*position: absolute;
top: 0;
right: 0;
bottom: 0;
font-size: 60%;
line-height: 30px;
background:url(../Images/DropDownList/imgFlechaDropDownList.png);
color:red;
width:20px;
vertical-align: bottom;
background-repeat:no-repeat;
}*/

.no-pointer-events .custom-select:after {
content: none;
}




label.DropDownListLargoCampo {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
}

.DropDownListLargoCampo select {
	font-size:12px;
	color:#585a5c;
	font: Arial;
	display: inline-block;
	padding-left:7px;
	padding-right:0px;
	/*padding: 0px 0px 0px 7px;*//*top,right,botton,left*/
	width:531px;
	height:18px;
	margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:9px;*/
	border:0;
    background-color:none;
	background:url(../Images/DropDownList/imgTextoCampoLargo.png);
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;
    /*-moz-appearance:none;*/
 }

.DropDownListLargoCampo select:disabled {
    color:#898c8f;
}
/*.DropDownListLargoCampo option
{
	background-color:#454545;
}*/


/* Select arrow styling */
.DropDownListLargoCampo img
{
	height:18px;
	width:17px;
	right:0px;
	/*top:0px;*/
    /*top:1px;*/
    bottom:0px;/*Uso mejor el bottom que el top porque los #navcontainer is relative to the bottom of the screen*/
    position:absolute;
}
/*.DropDownListLargoCampo:after {
content: "";*/  /* Current arrow I would like to change */
/*position: absolute;
top: 0;
right: 0;
bottom: 0;
font-size: 60%;
line-height: 30px;
background:url(../Images/DropDownList/imgFlechaDropDownList.png);
color:red;
width:20px;
vertical-align: bottom;
background-repeat:no-repeat;
}*/

.no-pointer-events .DropDownListLargoCampo:after {
content: none;
}



label.DropDownListMedianoCampo {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
}

.DropDownListMedianoCampo select {
	font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font: Arial;
	display: inline-block;
	padding-left:7px;
	padding-right:0px;
	/*padding: 0px 0px 0px 7px;*//*top,right,botton,left*/
	width:258px;
	/*height:20px;*/
    height:18px;
	margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:9px;*//*Debe ser la mitad del atributo height*/
	border:0;
    background-color:none;
	background:url(../Images/DropDownList/imgTextoCampoLargo.png);
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;

 }

.DropDownListMedianoCampo select:disabled {
    color:#898c8f;
}

.DropDownListMedianoCampo option
{
	/*background-color:#454545;*/
}


/* Select arrow styling */
.DropDownListMedianoCampo img
{
	height:18px;
	width:17px;
	right:0px;
	/*top:0px;*/
    /*top:1px;*/
    bottom:0px;/*Uso mejor el bottom que el top porque los #navcontainer is relative to the bottom of the screen*/
    position:absolute;
}
/*.DropDownListCampo70:after {
content: "";*/  /* Current arrow I would like to change */
/*position: absolute;
top: 0;
right: 0;
bottom: 0;
font-size: 60%;
line-height: 30px;
background:url(../Images/DropDownList/imgFlechaDropDownList.png);
color:red;
width:20px;
vertical-align: bottom;
background-repeat:no-repeat;
}*/

.no-pointer-events .DropDownListCampo70:after {
content: none;
}


label.DropDownListCampo120 {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
vertical-align:bottom;
}

.DropDownListCampo120 select {
	font-size:12px;
	color:#585a5c;
	font: Arial;
	display: inline-block;
	padding-left:7px;
	padding-right:0px;
	/*padding: 0px 0px 0px 7px;*//*top,right,botton,left*/
	width:120px;
	height:18px;
	margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:9px;*/
	border:0;
    background-color:none;
	background:url(../Images/DropDownList/imgTextoCampoLargo.png);
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;

 }

.DropDownListCampo120 select:disabled {
    color:#898c8f;
}

/*.DropDownListCampo120 option
{
	background-color:#454545;
}*/


/* Select arrow styling */
.DropDownListCampo120 img
{
	height:18px;
	width:17px;
	right:0px;
	/*top:0px;*/
    /*top:1px;*/
    bottom:0px;/*Uso mejor el bottom que el top porque los #navcontainer is relative to the bottom of the screen*/
    position:absolute;
}
/*.DropDownListCampo120:after {
content: "";*/  /* Current arrow I would like to change */
/*position: absolute;
top: 0;
right: 0;
bottom: 0;
font-size: 60%;
line-height: 30px;
background:url(../Images/DropDownList/imgFlechaDropDownList.png);
color:red;
width:20px;
vertical-align: bottom;
background-repeat:no-repeat;
}*/

.no-pointer-events .DropDownListCampo120:after {
content: none;
}


label.DropDownListCampo40 {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
}

.DropDownListCampo40 select {
	font-size:12px;
	color:#b9b9b9;
	font: Arial;
	display: inline-block;
	padding-left:7px;
	padding-right:0px;
	/*padding: 0px 0px 0px 7px;*//*top,right,botton,left*/
	width:40px;
	height:20px;
	margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:10px;*/
	border:0;
    background-color:none;
	background:url(../Images/DropDownList/imgTextoCampoLargo.png);
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;

 }

.DropDownListCampo40 select:disabled {
    color:#898c8f;
}

/*.DropDownListCampo40 option
{
	background-color:#454545;
}*/


/* Select arrow styling */
.DropDownListCampo40 img
{
	height:18px;
	width:17px;
	right:0px;
	/*top:0px;*/
    /*top:1px;*/
    bottom:0px;/*Uso mejor el bottom que el top porque los #navcontainer is relative to the bottom of the screen*/
    position:absolute;
}
/*.DropDownListCampo40:after {
content: "";*/  /* Current arrow I would like to change */
/*position: absolute;
top: 0;
right: 0;
bottom: 0;
font-size: 60%;
line-height: 30px;
background:url(../Images/DropDownList/imgFlechaDropDownList.png);
color:red;
width:20px;
vertical-align: bottom;
background-repeat:no-repeat;
}*/

.no-pointer-events .DropDownListCampo40:after {
content: none;
}





label.DropDownListCampo70 {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
}

.DropDownListCampo70 select {
	font-size:12px;
	color:#585a5c;
	font: Arial;
	display: inline-block;
	padding-left:7px;
	padding-right:0px;
	/*padding: 0px 0px 0px 7px;*//*top,right,botton,left*/
	width:70px;
	height:18px;
	margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:9px;*/
	border:0;
    background-color:none;
	background:url(../Images/DropDownList/imgTextoCampoLargo.png);
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;

 }

.DropDownListCampo70 select:disabled {
    color:#898c8f;
}

/*.DropDownListCampo70 option
{
	background-color:#454545;
}*/


/* Select arrow styling */
.DropDownListCampo70 img
{
	height:18px;
	width:17px;
	right:0px;
	/*top:0px;*/
    /*top:1px;*/
    bottom:0px;/*Uso mejor el bottom que el top porque los #navcontainer is relative to the bottom of the screen*/
    position:absolute;
}
/*.DropDownListCampo70:after {
content: "";*/  /* Current arrow I would like to change */
/*position: absolute;
top: 0;
right: 0;
bottom: 0;
font-size: 60%;
line-height: 30px;
background:url(../Images/DropDownList/imgFlechaDropDownList.png);
color:red;
width:20px;
vertical-align: bottom;
background-repeat:no-repeat;
}*/

.no-pointer-events .DropDownListCampo70:after {
content: none;
}



.ddlPrueba {
	/*font-size:12px;
	color:#b9b9b9;
	font: Arial;
	display: inline-block;
	padding-left:7px;
	padding-right:0px;*/
	/*padding: 0px 0px 0px 7px;*//*top,right,botton,left*/
	/*width:258px;
	height:20px;
	margin: 0;
	outline:none;*/ /* remove focus ring from Webkit */
	/*line-height: 1.2;
	border:0;
    background-color:red;*/
	background:url(../Images/DropDownList/imgTextoCampoLargo.png);
	/*text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;*/

 }









/*.selectParent{
    width:80px;
    overflow:hidden;
}

.selectParent select{
    width:100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    padding: 2px 2px 2px 2px;
    border: none;
    background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right center;
}*/
select::-ms-expand {
    display: none;
}







/*.DropDownListCampo100 {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
vertical-align:bottom;
width:100px;
}*/

/* all form DIVs have position property set to relative so we can easily position newly created SPAN */
.DropDownListCampo100 
{
    position:relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    vertical-align:bottom;
}

/* setting the width and height of the SELECT element to match the replacing graphics */
.DropDownListCampo100 select {
	position:relative;
	z-index:10;
	width:166px !important;
	height:26px !important;
	line-height:26px;
    top: 0px;
    left: 0px;
 }

/* dynamically created SPAN, placed below the SELECT */
.DropDownListCampo100 span{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:166px;
	height:26px;
	line-height:26px;
	text-indent:10px;
	background:url(Imagenes/bg_select.gif) no-repeat 0 0;
	cursor:default;
	z-index:1;
	}