.DropDownListMedianoCampo {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
}

.DropDownListMedianoCampo select {

       position:relative;
		z-index:10;
		width:240px !important;
        /*width:258px !important;*/
		height:18px !important;
		/*line-height:26px;*/
        top: 0px;
        left: 0px;
 }


.DropDownListMedianoCampo option {
    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    background-color:#f5f6f6;
 }

.DropDownListMedianoCampo span{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:233px;/*Es 251px porque hay un padding-left de 7px y el total debe ser 258px*/
    /*width:251px;/*Es 251px porque hay un padding-left de 7px y el total debe ser 258px*/
	height:18px;
    line-height:18px;/*Debe ser igual al atributo height porque es un span*/
	/*text-indent:10px;*/
	background:url(../Imagenes/DropDownList/imgDropDownList258.png) no-repeat 0 0;
	cursor:default;
	/*z-index:1;*/

    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    display: inline-block;
	padding-left:7px;
	padding-right:0px;

    margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:9px;*//*Debe ser la mitad del atributo height*/
	border:0;
    /*background-color:none;
	background:url(../Imagenes/DropDownList/imgTextoCampoLargo.png);*/
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;

	}

.DropDownListMedianoCampo select:disabled {
    color:#898c8f;
}

.DropDownListMedianoCampo span:disabled {
    color:#FF0000;
}



.DropDownListLargoCampo {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
}

.DropDownListLargoCampo select {
    position:relative;
	z-index:10;
	/*width:531px !important;*/
    width:400px !important;
	height:18px !important;
	/*line-height:26px;*/
    top: 0px;
    left: 0px;    
 }

.DropDownListLargoCampo option{
    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    background-color:#f5f6f6;
 }

.DropDownListLargoCampo span{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	/*width:524px;/*Es 524px porque hay un padding-left de 7px y el total debe ser 531px*/
    width:393px;/*Es 393px porque hay un padding-left de 7px y el total debe ser 400px*/
	height:18px;
    line-height:18px;/*Debe ser igual al atributo height porque es un span*/
	/*text-indent:10px;*/
	/*background:url(../Imagenes/DropDownList/imgDropDownList531.png) no-repeat 0 0;*/
    background:url(../Imagenes/DropDownList/imgDropDownList400.png) no-repeat 0 0;
	cursor:default;
	/*z-index:1;*/

    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    display: inline-block;
	padding-left:7px;
	padding-right:0px;

    margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:9px;*//*Debe ser la mitad del atributo height*/
	border:0;
    /*background-color:none;
	background:url(../Imagenes/DropDownList/imgTextoCampoLargo.png);*/
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;

	}

.DropDownListLargoCampo select:disabled {
    color:#898c8f;
}

.DropDownListLargoCampo span:disabled {
    color:#FF0000;
}















.DropDownListCampo120 {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
}

.DropDownListCampo120 select {

       position:relative;
		z-index:10;
		width:120px !important;
		height:18px !important;
		/*line-height:26px;*/
        top: 0px;
        left: 0px;
    
 }

.DropDownListCampo120 option {
    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    background-color:#f5f6f6;
 }

.DropDownListCampo120 span{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:113px;/*Es 113px porque hay un padding-left de 7px y el total debe ser 120px*/
	height:18px;
    line-height:18px;/*Debe ser igual al atributo height porque es un span*/
	/*text-indent:10px;*/
	background:url(../Imagenes/DropDownList/imgDropDownList120.png) no-repeat 0 0;
	cursor:default;
	/*z-index:1;*/

    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    display: inline-block;
	padding-left:7px;
	padding-right:0px;

    margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:9px;*//*Debe ser la mitad del atributo height*/
	border:0;
    /*background-color:none;
	background:url(../Imagenes/DropDownList/imgTextoCampoLargo.png);*/
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;

	}

.DropDownListCampo120 select:disabled {
    color:#898c8f;
}

.DropDownListCampo120 span:disabled {
    color:#FF0000;
}



.DropDownListCampo200 {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
}

.DropDownListCampo200 select {

       position:relative;
		z-index:10;
		width:200px !important;
		height:18px !important;
		/*line-height:26px;*/
        top: 0px;
        left: 0px;
    
 }

.DropDownListCampo200 option {
    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    background-color:#f5f6f6;
 }

.DropDownListCampo200 span{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:193px;/*Es 113px porque hay un padding-left de 7px y el total debe ser 120px*/
	height:18px;
    line-height:18px;/*Debe ser igual al atributo height porque es un span*/
	/*text-indent:10px;*/
	background:url(../Imagenes/DropDownList/imgDropDownList120.png) no-repeat 0 0;
	cursor:default;
	/*z-index:1;*/

    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    display: inline-block;
	padding-left:7px;
	padding-right:0px;

    margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:9px;*//*Debe ser la mitad del atributo height*/
	border:0;
    /*background-color:none;
	background:url(../Imagenes/DropDownList/imgTextoCampoLargo.png);*/
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;

	}

.DropDownListCampo200 select:disabled {
    color:#898c8f;
}

.DropDownListCampo200 span:disabled {
    color:#FF0000;
}







.DropDownListCampo70 {
position: relative;
display: inline-block;
    top: 0px;
    left: 0px;
}

.DropDownListCampo70 select {

       position:relative;
		z-index:10;
		width:70px !important;
		height:18px !important;
		/*line-height:26px;*/
        top: 0px;
        left: 0px;
    
 }

.DropDownListCampo70 option {
    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    background-color:#f5f6f6;
 }

.DropDownListCampo70 span{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:63px;/*Es 63px porque hay un padding-left de 7px y el total debe ser 70px*/
	height:18px;
    line-height:18px;/*Debe ser igual al atributo height porque es un span*/
	/*text-indent:10px;*/
	background:url(../Imagenes/DropDownList/imgDropDownList70.png) no-repeat 0 0;
	cursor:default;
	/*z-index:1;*/

    font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
	font-family:Arial;
    display: inline-block;
	padding-left:7px;
	padding-right:0px;

    margin: 0;
	outline:none; /* remove focus ring from Webkit */
	/*line-height:9px;*//*Debe ser la mitad del atributo height*/
	border:0;
    /*background-color:none;
	background:url(../Imagenes/DropDownList/imgTextoCampoLargo.png);*/
	text-transform:uppercase;
    vertical-align: bottom;
    background-repeat:no-repeat;
    -webkit-appearance:none;

	}

.DropDownListCampo70 select:disabled {
    color:#898c8f;
}

.DropDownListCampo70 span:disabled {
    color:#FF0000;
}

