a:hover{color:#333; text-decoration:underline;}

#showPanel
{
	position:absolute; 
	z-index:999px; 
	top:0; 
	right:-13px; 
	display:block; 
	height:31px; 
	width:13px; 
	cursor:pointer; background:url(images/flechita.png) top left no-repeat;
}
.container{
	overflow:hidden; 
	background:#fff;
}

.menu{float:left; 
	  width:226px; 
	  padding:0 0 0px 0; 
	  margin:0; 
	  position:relative; 
	  margin-top:1px;
}

#ocultar{cursor:pointer;}
.top-menu{width:226px; height:24px; padding:0; margin:0; line-height:25px; float:left;}
.top-menu span{color:#999; background:url(images/icon-more-menu.png) left no-repeat; padding:0 0 0 15px; margin-left:8px; font-family:'DINRegular'; font-size:18px; line-height:30px;padding-top:100px;}
.principal{float:right; width:769px; padding:0;}
.cnt-principal{padding:15px 0 15px 18px; float:left; width:751px; position:relative;}
.cnt-principal .primary{float:left; width:556px;}
.cnt-principal .secondary{float:right; width:180px; padding-top:0px;}
.cnt-principal .secondary .box{background:#fff; padding:0; margin-bottom:15px;}
.padTop12{padding-top:5px !important; background-position:0 0 !important} .padBott12{padding-bottom:12px !important;}
.cnt-menu
{ 
	width:226px;
	font-family:Arial;
}
.menu .box{background:#fff; padding:0; margin-bottom:4px; padding-bottom:8px;}
.menu .box h4{font-family:'DINRegular'; text-transform:uppercase; color:#666; margin-bottom:8px;}
.menu .box a.atencion{width:162px; height:78px; display:block; margin:15px auto;}
.hidexz{display:none;}
.MEN_CONTE_menu{width:180px; background:url(images/bg-menu.png) top left repeat-x; margin-bottom:20px; padding-bottom:200px;}

.menu-tree{padding:0; width:226px; margin-bottom:35px; padding:0; overflow:hidden; font-size:12px; font-family:'DINRegular'; text-transform:uppercase;}
.menu-tree a{
	color:#000; 
	display:block;
}
.menu-tree table{padding:0; margin:0; border-collapse:collapse; width:226px; overflow:hidden}
.menu-tree table, th, td {vertical-align:middle}
.menu-tree table td{padding:0px !important; margin:0; text-align:left}
.menu-tree table td img a{padding:0; margin:0;vertical-align: bottom}

.menu-tree table tbody tr{display:block; width:226px;}
.menu-tree table tbody tr td
{
	padding:0px;
}
.menu-tree table tbody tr td div
{
	background:url(../Imagenes/diagonal3.png) 0 0 repeat-x; 
	width:23px !important; 
	height:24px !important;
	padding-top:0px;
}
.menu-tree table tbody tr td.nodo
{
	padding:0px;
}
.menu-tree table tbody tr td a{color:#A8A8A8}
.menu-tree table tbody tr td a img
{
	padding-left:0px;
	padding-top:0px;
	vertical-align: bottom;
}

td.nodobg
{
	background:url(../Imagenes/diagonal3.png) 0 0 repeat-x;
}

/**/
.menu-tree table tbody tr td img{padding-left:0px;
	padding-top:0px;
	vertical-align: bottom;}
.menu-tree div table{width:auto;}
.menu-tree div table tbody tr{background:none}
.nodo td{_background:#ED1B2E}