.Oculto {
    display: none;
}

.bgspriteb {
    background-image: url(images/breabcrumd.gif);
    background-repeat: repeat-x;
}

.sub-breadcrumb {
    display: block;
    background-image: url(images/bg-current-bread.gif);
    background-position: right;
    background-repeat: no-repeat;
    background-color: #ED1B2E;
    padding: 0 30px 0 20px;
    height: 29px;
    font-size: 14px;
    float: left;
    color: #fff;
}

.cnt-titulos {
    padding: 0;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 29px;
    font-weight: bold;
}

.Formulario {
    width: 100%;
    border: solid 1px;
    border-style: dotted;
    font-family: 'DINRegular', Arial;
}

.modulo {
    margin-bottom: 0px;
    overflow: hidden;
}

.titu-modulo {
    border-bottom: solid 1px;
    margin-bottom: 4px;
    padding-bottom: -4px;
    font-family: 'DINRegular', Arial;
    font-style: normal !important;
    color: #b62020;
    background: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-align: left;
}

.cnt-modulo {
    padding: 10px;
    display: block;
    border-top: 0;
    overflow: hidden;
}

.cnt-modulo-none {
    padding: 10px;
    display: none;
    border-top: 0;
    overflow: hidden;
}

.FilaRegistro {
    margin-bottom: 2px;
    overflow: hidden;
    width: 100%;
}

    .FilaRegistro label {
        font-family: Arial;
        font-size: 12px;
        color: #8e8e8e;
        text-align: left;
        width: 150px;
        float: left;
        margin: 1px 5px 5px 15px;
    }

.CajaRegistro {
    margin-bottom: 4px;
    overflow: hidden;
    width: 100%;
    text-align: left;
    float: left;
}

.LabelCampoPrioritario {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #8e8e8e;
    margin-left: 0px;
}

.TextoCampoMultiline {
    border: 1px solid #DEDEDA;
    width: 810px;
    height: 96px;
    line-height: 16px;
    font-size: 12px;
    font-family: 'DINRegular', Arial;
    padding: 3px;
    margin-right: 10px;
    background-color: #F5F4F3;
    color: #585a5c;
    border-radius: 7px;
    vertical-align: top;
}

.TextoCampoMultiline500 {
    border: 1px solid #DEDEDA;
    width: 500px;
    height: 64px;
    line-height: 16px;
    font-size: 12px;
    font-family: 'DINRegular', Arial;
    padding: 3px;
    margin-right: 10px;
    background-color: #F5F4F3;
    color: #585a5c;
    border-radius: 7px;
    vertical-align: top;
}

.RadioCampo {
    font-size: 12px;
    font: Arial;
    color: #585a5c;
    height: 16px;
}

.ListBoxMediano {
    font-size: 12px;
    font: Arial;
    color: #585a5c;
    display: inline-block;
    padding-left: 7px;
    padding-right: 0px;
    width: 350px;
    margin: 0;
    overflow: scroll;
}

.grilla {
    width: 100%;
}

    .grilla th {
        background-color: #9AAE04;
        font-weight: bold;
        color: White;
        border: solid 1px #FFF;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    .grilla td {
        border: solid 1px #DDD;
        padding-left: 5px;
        padding-right: 5px;
    }

    .grilla table span {
        font-weight: bold;
    }

    .grilla .filasVacias td {
        text-align: center;
        font-size: 12px;
        color: #515559;
        border: solid 1px #FFF;
    }

    .grilla td.centrada {
        text-align: center;
    }

.mantenedorPost {
    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-color: #F21A1A;
}

    .mantenedorPost tr.filaTitulo {
        font-weight: normal;
        color: #000000;
        border-width: 1px;
        border-style: solid;
        border-color: #F21A1A;
        background-repeat: repeat-x;
        background-position: 0px;
        background-image: url('../Imagenes/fondoPlomo.png');
        background-size: contain;
    }

    .mantenedorPost tr.filaPie {
        background-color: #EEE;
        font-weight: normal;
        color: #000000;
        border-width: 1px;
        border-style: solid;
        border-color: #BBB;
        height: 25px;
    }

    .mantenedorPost tr.filaTituloSinBordeSuperior {
        border-top: 0px !important;
    }

    .mantenedorPost tr.filaTituloSinBordeInferior {
        border-bottom: 0px !important;
    }

.mantenedor td.filaSinBorde {
    border-bottom: 0px none !important;
}

.mantenedor a.filaSinBorde {
    border-bottom: 0px none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: White !important;
}

#ContentPlaceHolder1_chblTipoDocumento tr td {
    width: 49.76%;
    float: left;
    text-align: left;
    font-family: Verdana;
    font-size: 10px;
}

/*Adicionales*/
h2.ingreso { float:left; background:url(../Images/title_ingreso.gif) no-repeat 0 0; width:201px; height:61px;}
.wrapper { float:left; width:1060px; padding:13px 20px; border-bottom: solid 1px #ed1b2e;}
.box { float:left; width:1100px; background:#fff;}
.main { width:1100px; margin:0 auto;}
.header { float:left; width:100%; height:78px; position:relative;}
.wrapper2 { float:left; width:1070px; padding:13px 20px 45px; border-bottom: solid 1px #e3e3e3;}
.width_total { width:100%;}
.arri_azul2{width:1050px; height:23px; float:left; background:#ed1b2e; color:#FFF; font-weight:600; padding: 6px 0 0 20px; font-size:13px; font-family:Verdana, Geneva, sans-serif;}
.txt_registro3{float:left; background:url(../Images/tele_chico2.jpg) no-repeat; width:460px; padding: 22px 0 0 240px; font-size:12px; color:#515559; text-align:justify;}
 .celestelogin2
{
    float:left; 
    width:600px; 
    height:220px; 
    background:#edf2f5; 
    margin: 15px 0 0 0; 
    padding:20px 0 0px 0px;
 }
 .col_03 { float:right; width:218px;}
 .box_nece { float:left; padding:37px 0 10px 0;}
  .box_tit{ /*width:681px;*/
	width:679px;
	height:30px;
	background:#ed1b2e;
	font-size:13px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	padding:0 0 0 20px;
	line-height:30px;
	color:#FFF;
	float:left
}
.cont_c02_detalle {	float:left;	width:699px;	_width:698px;	border:solid #d9dedf;	border-width:0 1px; background:url(../img/fon_gris.gif) repeat-x 0 0}
.subtit_c44 { float:left; font-family:Verdana, Geneva, sans-serif; font-size:16px; color:#515559; font-weight:600; padding:13px 15px 0px 29px;}
.parrafo_111{
	float:left;
	width:630px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515559;
	padding:10px 0px 10px 29px;
	line-height:22px;
}
.box_c2 { float:left; padding:0 0 10px 0;}
.main .box .wrapper2 .col_04 .box_c2 .cont_c02_bla.bg_gris .lugares_pagob .bg_f6f7f9 #azul {
	color: #0086c3;
}
.main .box .wrapper2 .col_04 .box_c2 .cont_c02_bla.bg_gris .supp ul li div #selecto {
	color: #515559;
	text-align: right;
}
.f5f6f6_01 {float:left;	height:6px;	width:100%;	background:url(../Images/f5f6f6_01.gif) no-repeat 0 0;	font-size:1px;}
.f5f6f6_02 { float:right; height:6px; width:6px; background:url(../Images/f5f6f6_02.gif) no-repeat 0 0; font-size:1px;}
.col_04 {float:left;width:701px;padding:0 0 5px 0px;}
.cont_c02_detalle {	float:left;	width:699px; text-align:left;	_width:698px;	border:solid #d9dedf;	border-width:0 1px; background:url(../Images/fon_gris.gif) repeat-x 0 0}
.cont_c02_detalle2 {float:left;	width:660px; text-align:left;	_width:660px;	border:solid #d9dedf;	border-width:0 1px; background:url(../Images/fon_gris.gif) repeat-x 0 0}
.col_04 .recibo_dig{background: url(../img/ico_pc.gif) left no-repeat;height:33px;font-size:25px;font-family:Verdana, Geneva, sans-serif;color:#515559;padding:7px 0 5px 30px;margin-bottom:13px;text-align:justify;} 
.Espaciofiltro div.separador{width:50%; }
.Espaciofiltro, .Espaciofiltro div{float:left; }
.Espaciofiltro {
    width: 100%;
    background: #edf2f5;
    margin: 10px 0 0 0;
    padding: 10px 0 10px 00px;
}
.Tabla_filtro_txt{font-size:12px; font-weight:600; width:auto; float:left; margin: 0 0 0 30px; _margin: 0 0 0 10px;}

.cuadrodes{
    height:auto;
	width:559px;
    border:0 none;
    font-family:Arial,Helvetica,sans-serif;
    padding:0;
    margin:0px;
    font-size:12px;
    background-color:#FFF;
    color:#515559;
	float:left;
}
.lineblu {width:510px; background:#6ba8ba; height:30px; text-align:left; float:left; color:#FFF; padding: 0px 0 0 20px; font-weight:600; margin-bottom:19px; font-size:10px;}
.txt_linese{width:485px; padding:0 21px 50px 21px; font-size:12px; float:left;}
.f5f6f6_01 {float:left;	height:6px;	width:100%; background:url(../Images/f5f6f6_01.gif) no-repeat 0 0;	font-size:1px;}
.col_02 .f5f6f6_01, .col_02 .f5f6f6_03, .col_02 .fff_03 { _width:460px;}
.col_03 .f5f6f6_01, .col_03 .f5f6f6_03, .col_03 .fff_03 { _width:218px;}
.f5f6f6_02 { float:right; height:6px; width:6px; background:url(../Images/f5f6f6_02.gif) no-repeat 0 0; font-size:1px;}
.fff_03_bla {
	float:left;
	height:10px;
	width:700px;
	_width:699px;
	background: url(../Images/fff-03.gif) no-repeat 0 0;
	font-size:1px;
}
.fff_04_bla {float:right;height:10px;width:5px;background:url(../Images/fff-04.gif) no-repeat 0 0;font-size:1px;}
.messagemodalbackground
{
    background-color:Gray;
    filter:alpha(opacity=50);
    opacity:0.6;
    z-index:998;
}
.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.BGProcessing
{
    filter: alpha(opacity=50); opacity: 0.5;
    background: Gray url(../Images/ajax-process.gif) no-repeat center 400px;
    width: 100%;
    display: none;
    visibility: hidden;
    position: fixed;
    z-index: 99999;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.p_mantenimiento
{
    font-family:Verdana, Geneva, sans-serif; 
    /*font-size:16px;*/
    font-weight:600;
    }
.fff_03_bla2 {
	float:left;
	height:10px;
	width:661px;
	background: url(../Images/fff-03.gif) no-repeat 0 0;
	font-size:1px;
}

.ubi-main-popclave{
	padding:12px;
	float:left;
}

.close-popclave{
    width:100%;
	height:15px;
	float:left;
}
.close-popclave77{
	height:15px;
	float:left;
	width: 451px;
}

.ubi-close-popclave{
	float:right;
}

.close-popclave a{
	float: right;
    background:url(../Images/ico-close-form-popclave.gif) no-repeat right center;
    padding-right:20px;
    text-decoration:none;
}
.close-popclave a 77{
	background:url(../Images/ico-close-form-popclave.gif) no-repeat 38px 3px;
	height:11px;
	padding-right:20px;
	text-decoration:none;
}

