.TextoLargoCampo
{
	font-size:12px;
	color:#585a5c;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampoLargo.png); 
	background-repeat:no-repeat;
	width:517px;/*Es 517px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 7px, el ancho total debe ser de 531px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en tiempo de diseño*/
}

.TextoLargoCampo:disabled {
        color:#b7b9bc;
    }

/*.TextoLargoCampo:hover
{
	background:url(../Imagenes/TextBox/imgTextoCampoLargoActivo.png); 
	background-repeat:no-repeat;
}

.TextoLargoCampo:focus
{
	background:url(../Imagenes/TextBox/imgTextoCampoLargoActivo.png); 
	background-repeat:no-repeat;
}*/


.TextoCampo50
{
	font-size:12px;
	color:#585a5c;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo50.png); 
	background-repeat:no-repeat;
	width:36px;/*Es 36px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 7px, el ancho total debe ser de 50px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 18px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en teimpo de diseño*/
}

.TextoCampo50:disabled {
        color:#b7b9bc;
    }

/*.TextoCampo50:hover
{
	background:url(../Imagenes/TextBox/imgTextoCampo50Activo.png); 
	background-repeat:no-repeat;
}

.TextoCampo50:focus
{
	background:url(../Imagenes/TextBox/imgTextoCampo50Activo.png); 
	background-repeat:no-repeat;
}*/

.TextoCampoDisabled50
{
	font-size:12px;
	/*color:#666D60;*/
    color:#b7b9bc;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo50.png); 
	background-repeat:no-repeat;
	width:36px;/*Es 36px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 1px, el ancho total debe ser de 50px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en tiempo de diseño*/
}

.TextoCampoDisabled160
{
	font-size:12px;
	/*color:#666D60;*/
    color:#b7b9bc;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo160.png); 
	background-repeat:no-repeat;
	width:146px;/*Es 146px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 1px, el ancho total debe ser de 160px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en tiempo de diseño*/
	/*color:#ed1b2e*/
}

.TextoCampoDisabled200
{
	font-size:12px;
	/*color:#666D60;*/
    color:#b7b9bc;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo200.png); 
	background-repeat:no-repeat;
	width:186px;/*Es 186px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 7px, el ancho total debe ser de 200px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en tiempo de diseño*/
	/*color:#ed1b2e*/
}

.TextoCampoDisabled100
{
	font-size:12px;
	/*color:#666D60;*/
    color:#b7b9bc;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo100.png); 
	background-repeat:no-repeat;
	width:86px;/*Es 86px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 1px, el ancho total debe ser de 100px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en teimpo de diseño*/
	/*color:#ed1b2e*/
}

.TextoCampo100
{
	font-size:12px;
	color:#585a5c;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo100.png); 
	background-repeat:no-repeat;
	width:86px;/*Es 86px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 7px, el ancho total debe ser de 100px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en tiempo de diseño*/
	/*color:#ed1b2e*/
}

.TextoCampo100:disabled {
        color:#b7b9bc;
    }

/*.TextoCampo100:hover
{
	background:url(../Imagenes/TextBox/imgTextoCampo100Activo.png); 
	background-repeat:no-repeat;
}*/



.TextoCampo200
{
	font-size:12px;
	/*color:#b9b9b9;*/
    color:#585a5c;
    /*color:#FF0000;*/
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo200.png); 
	background-repeat:no-repeat;
	width:186px;/*Es 186px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 7px, el ancho total debe ser de 200px*/
	padding-left:7px;
	padding-right:7px;
	/*height:18px;*//*Es 18px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 20px*/
    height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en tiempo de diseño*/
	/*color:#ed1b2e*/
}

    .TextoCampo200:disabled {
        color:#b7b9bc;
    }




/*.TextoCampo200:hover
{
	background:url(../Imagenes/TextBox/imgTextoCampo200Activo.png); 
	background-repeat:no-repeat;
}*/

/*.TextoCampo200:focus
{
	background:url(../Imagenes/TextBox/imgTextoCampo200Activo.png); 
	background-repeat:no-repeat;
}*/


.TextoCampo220
{
	font-size:12px;
	color:#585a5c;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo220.png); 
	background-repeat:no-repeat;
	width:206px;/*Es 206px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 1px, el ancho total debe ser de 200px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en teimpo de diseño*/
	/*color:#ed1b2e*/
}

.TextoCampo220:disabled {
        color:#b7b9bc;
    }

.TextoCampoNew
{
	font-size:12px;
	color:#585a5c;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo220.png); 
	background-repeat:no-repeat;

	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en teimpo de diseño*/
	/*color:#ed1b2e*/
}

.TextoCampoNew:disabled {
        color:#b7b9bc;
    }

/*.TextoCampo220:hover
{
	background:url(../Imagenes/TextBox/imgTextoCampo220Activo.png); 
	background-repeat:no-repeat;
}

.TextoCampo220:focus
{
	background:url(../Imagenes/TextBox/imgTextoCampo220Activo.png); 
	background-repeat:no-repeat;
}*/


.TextoCampo160
{
	font-size:12px;
	color:#585a5c;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo160.png); 
	background-repeat:no-repeat;
	width:146px;/*Es 146px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 1px, el ancho total debe ser de 160px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en teimpo de diseño*/
	/*color:#ed1b2e*/
}

.TextoCampo160R
{
	font-size:12px;
	color:#585a5c;
	background:none;
	background-color:yellow;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background-repeat:no-repeat;
	width:146px;/*Es 146px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 1px, el ancho total debe ser de 160px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en teimpo de diseño*/
	/*color:#ed1b2e*/
}

.TextoCampo160:disabled {
        color:#b7b9bc;
    }


.TextoCampo160Centro
{
	font-size:12px;
	color:#585a5c;
	background:none;
	text-transform:uppercase;
	border-style:none;
	/*background-color:#505050;
	border-radius:7px;*/
	background:url(../Imagenes/TextBox/imgTextoCampo160.png); 
	background-repeat:no-repeat;
	width:146px;/*Es 146px porque hay un margen izquierdo y derecho de 7px, y uno derecho de 1px, el ancho total debe ser de 160px*/
	padding-left:7px;
	padding-right:7px;
	height:16px;/*Es 16px porque hay un margen supérior e inferior de 1px, el alto total debe ser de 18px*/
    line-height: 16px; /*Es para que se alinie verticalmente de forma correcta el texto en base a la altura del control 
                        por eso debe coincidir con el height, no se ve en teimpo de diseño*/
	/*color:#ed1b2e*/
    text-align:center;
}

.TextoCampo160Centro:disabled {
        color:#b7b9bc;
    }

/*.TextoCampo160:hover
{
	background:url(../Imagenes/TextBox/imgTextoCampo160Activo.png); 
	background-repeat:no-repeat;
}

.TextoCampo160:focus
{
	background:url(../Imagenes/TextBox/imgTextoCampo160Activo.png); 
	background-repeat:no-repeat;
}*/

.TextoCampo
{
	font-size:12px;
	color:#585a5c;
	background:none;
	text-transform:uppercase;
	border-style:none;
	background-color:#505050;
	border-radius:7px;
	padding-left:7px;
	height:20px;
}
